In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv(r'C:\Users\Meireles\Desktop\rodrigo\train.csv')

In [4]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# Encoding das variáveis nominais

Encoding do embarque, somente duas entradas nulas de passageiras que embarcaram juntas, arbitrariamente codificadas como 1 (S)

In [5]:
embark_dict = {'S': 1, 'C':2, 'Q':3}
embark_dict[np.NaN] = 1

data['embarked_encoded'] = data['Embarked'].map(embark_dict)

Separando as cabines pela primeira letra, valores nulos ficaram como n.

In [6]:
data['cabin_red'] = data.Cabin.str[0]

Aqui cria-se uma coluna marcando quando a cabine não possui registro. (Ideia duvidosa mas tá aqui)

In [7]:
data['cabin_null'] = np.where(data['Cabin'].isnull(), 1, 0)

Encoding do sexo dos tripulantes.

In [8]:
sex_dict = {'male': 0, 'female': 1} 
data['sex_encoded'] = data['Sex'].map(sex_dict)

Separação dos tickets em prefixo e números.

In [12]:
Pre_Ticket = []
Post_Ticket = []
for k in data['Ticket']:
    prepost = k.rsplit(' ', 1)
    if len(prepost)>1:
        Pre_Ticket.append(prepost[0])
        Post_Ticket.append(prepost[1])
    else:
        Pre_Ticket.append(np.nan)
        Post_Ticket.append(prepost[0])
data = data.assign(pre_ticket = Pre_Ticket)
data = data.assign(post_ticket = Post_Ticket)

['A/5', 'PC', 'STON/O2.', nan, nan, nan, nan, nan, nan, nan, 'PP', nan, 'A/5.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'PC', 'PC', nan, 'C.A.', 'PC', nan, nan, 'A./5.', nan, nan, nan, nan, nan, 'SC/Paris', nan, 'S.C./A.4.', nan, nan, nan, nan, nan, 'A/4.', 'PC', nan, nan, nan, 'C.A.', nan, 'C.A.', 'CA', nan, nan, nan, nan, 'PC', nan, 'C.A.', 'S.P.', nan, nan, 'C.A.', 'CA', 'S.O.C.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'SO/C', nan, 'W./C.', 'SOTON/OQ', nan, nan, nan, nan, 'W.E.P.', 'C.A.', nan, nan, 'PC', 'PC', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'STON/O 2.', nan, nan, 'PC', nan, 'S.O.C.', 'A4.', nan, nan, nan, nan, nan, 'C', nan, nan, nan, 'SOTON/O.Q.', 'A/5.', nan, 'C.A.', 'SC/PARIS', nan, nan, nan, 'PC', nan, nan, 'STON/O2.', nan, nan, 'C.A.', nan, 'W./C.', nan, nan, 'S.O.P.', nan, 'A.5.', 'A/5.', 'Fa', 'PC', nan, 'SOTON/OQ', nan, 'CA.', nan, 'C.A.', nan, nan, nan, nan, nan, nan, 'PC', nan, nan, nan, nan, 'STON/O 2.', nan, nan, nan, 'PC', nan, nan, 'CA.', 'SC/PARIS', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'PC', 'PC', nan, nan, nan, nan, nan, 'CA.', nan, nan, 'A/5', nan, nan, nan, nan, nan, 'SOTON/O.Q.', 'F.C.C.', 'A/5', nan, nan, nan, 'STON/O2.', nan, nan, 'W/C', 'SOTON/OQ', nan, nan, nan, nan, 'PP', 'SW/PP', 'A/5', nan, nan, nan, nan, nan, nan, 'C.A.', 'W./C.', nan, 'C.A.', nan, 'SCO/W', nan, nan, 'W./C.', 'STON/O 2.', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A/5.', nan, nan, 'PC', nan, 'PC', nan, nan, nan, nan, nan, nan, 'C.A.', nan, nan, 'PC', 'PC', nan, nan, nan, 'PC', nan, nan, nan, nan, nan, 'C.A.', nan, nan, nan, 'A/5.', nan, nan, nan, nan, nan, nan, nan, nan, 'SC/Paris', nan, nan, 'PC', nan, nan, nan, 'PC', nan, nan, nan, nan, 'A/5', nan, nan, 'PC', 'P/PP', 'PC', nan, 'PC', nan, nan, 'F.C.C.', nan, nan, nan, nan, nan, 'A/5', nan, nan, nan, 'CA.', 'PC', nan, nan, nan, nan, nan, nan, 'PC', nan, 'PC', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'C.A.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'SC/PARIS', nan, 'SOTON/O.Q.', nan, 'C', nan, nan, nan, 'PC', nan, nan, nan, 'PC', nan, 'PC', 'C', nan, nan, nan, 'PC', nan, 'STON/O 2.', nan, nan, 'S.O.C.', 'CA', nan, nan, 'SC', nan, nan, nan, nan, 'PP', nan, nan, nan, nan, nan, 'STON/O 2.', nan, nan, 'STON/O2.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'STON/O 2.', nan, nan, nan, nan, nan, nan, 'A/5.', nan, nan, nan, 'A/4.', nan, nan, nan, 'SOTON/O.Q.', nan, nan, 'SC/AH', 'STON/O 2.', nan, nan, 'W./C.', nan, nan, 'C.A.', 'F.C.C.', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'C.A.', nan, nan, nan, 'A/5', nan, nan, nan, 'F.C.C.', nan, nan, nan, nan, nan, 'A/S', 'SOTON/O.Q.', nan, nan, nan, nan, nan, nan, 'C.A.', 'SC/AH Basle', nan, nan, nan, nan, nan, nan, 'CA', nan, 'A/5', nan, nan, nan, nan, nan, 'A.5.', 'C.A.', nan, 'SOTON/OQ', nan, 'PC', 'A/4', nan, nan, 'C.A.', nan, nan, nan, nan, nan, nan, nan, 'PC', nan, nan, 'C', nan, nan, 'SOTON/OQ', 'PC', 'PC', nan, nan, 'C.A.', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'W./C.', 'PC', nan, nan, nan, nan, nan, nan, nan, 'F.C.C.', nan, 'PC', nan, nan, 'WE/P', nan, nan, nan, 'PC', nan, nan, 'SC/PARIS', nan, 'C.A.', nan, nan, nan, nan, nan, nan, nan, 'PC', nan, nan, nan, nan, nan, 'SOTON/OQ', 'SOTON/O.Q.', 'A/4', nan, nan, nan, nan, 'S.W./PP', nan, 'PC', nan, 'A/4.', nan, nan, nan, nan, 'STON/O 2.', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A./5.', 'STON/O 2.', nan, 'A/5', nan, 'SC/AH', nan, nan, nan, nan, 'PC', nan, nan, nan, nan, nan, nan, nan, nan, 'SC/Paris', 'PC', nan, 'SOTON/O.Q.', nan, nan, nan, nan, nan, 'A/5.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'STON/O 2.', 'C.A.', nan, nan, nan, 'PC', nan, nan, nan, 'PC', nan, nan, 'S.O./P.P.', 'CA.', nan, nan, nan, nan, nan, 'S.O.C.', nan, nan, nan, nan, 'PC', nan, nan, nan, 'STON/O 2.', 'S.O.C.', nan, nan, 'A/5', nan, nan, 'F.C.', 'C.A.', nan, nan, nan, nan, nan, 'CA', 'PC', nan, 'PC', nan, 'CA', nan, 'SC/Paris', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'PC', 'PC', nan, nan, nan, nan, nan, 'PC', nan, nan, 'PC', nan, nan, nan, nan, nan, 'PC', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'STON/O2.', nan, nan, nan, nan, nan, nan, 'W./C.', 'PC', nan, nan, nan, nan, 'PC', nan, 'STON/O 2.', 'WE/P', 'C.A.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'SOTON/O2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'S.O./P.P.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'W./C.', 'SOTON/O.Q.', nan, nan, nan, 'C.A.', 'PC', nan, nan, 'CA.', 'PC', nan, nan, nan, nan, nan, nan, nan, 'C.A.', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A/4', nan, nan, nan, nan, 'STON/O2.', 'S.C./PARIS', 'C', nan, nan, nan, nan, nan, nan, nan, nan, 'S.C./PARIS', nan, nan, nan, nan, nan, nan, nan, 'PC', nan, nan, nan, nan, 'SOTON/O2', 'S.O./P.P.', nan, nan, nan, 'C.A.', 'CA.', nan, nan, nan, nan, nan, nan, 'PC', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'CA.', nan, nan, 'SC/PARIS', 'PC', nan, nan, nan, nan, nan, nan, 'P/PP', nan, nan, nan, nan, nan, nan, nan, nan, 'C.A./SOTON', 'SOTON/OQ', nan, nan, nan, 'W./C.', nan, nan]
['21171', '17599', '3101282', '113803', '373450', '330877', '17463', '349909', '347742', '237736', '9549', '113783', '2151', '347082', '350406', '248706', '382652', '244373', '345763', '2649', '239865', '248698', '330923', '113788', '349909', '347077', '2631', '19950', '330959', '349216', '17601', '17569', '335677', '24579', '17604', '113789', '2677', '2152', '345764', '2651', '7546', '11668', '349253', '2123', '330958', '23567', '370371', '14311', '2662', '349237', '3101295', '39886', '17572', '2926', '113509', '19947', '31026', '2697', '34651', '2144', '2669', '113572', '36973', '347088', '17605', '2661', '29395', '3464', '3101281', '315151', '33111', '2144', '14879', '2680', '1601', '348123', '349208', '374746', '248738', '364516', '345767', '345779', '330932', '113059', '14885', '3101278', '6608', '392086', '19950', '343275', '343276', '347466', '5734', '2315', '364500', '374910', '17754', '17759', '231919', '244367', '349245', '349215', '35281', '7540', '3101276', '349207', '343120', '312991', '349249', '371110', '110465', '2665', '324669', '4136', '2627', '3101294', '370369', '11668', '17558', '347082', '14879', '54510', '237736', '27267', '35281', '2651', '370372', '17369', '2668', '347061', '349241', '3101307', '3337', '228414', '29178', '2133', '11752', '113803', '7534', '17593', '2678', '347081', '3101279', '365222', '231945', '33112', '350043', '6608', '230080', '244310', '1166', '113776', '11206', '851', '265302', '17597', '35851', '392090', '315037', '2343', '371362', '33595', '347068', '315093', '3101295', '363291', '113505', '347088', '17318', '1601', '111240', '382652', '347742', '3101280', '17764', '350404', '4133', '17595', '250653', 'LINE', '2343', '2131', '347077', '230136', '315153', '113767', '370365', '111428', '364849', '349247', '234604', '28424', '350046', '230080', '17610', '17569', '368703', '4579', '370370', '248747', '345770', '2343', '3101264', '2628', '3540', '347054', '3101278', '2699', '367231', '112277', '3101311', '13528', '21174', '250646', '367229', '35273', '3101283', '243847', '11813', '14208', '392089', '220367', '21440', '349234', '19943', '4348', '751', '21173', '236171', '4133', '36973', '347067', '237442', '347077', '29566', '6609', '26707', '31921', '28665', '1585', '2665', '367230', '14263', '3101275', '2694', '19928', '347071', '250649', '11751', '244252', '362316', '347054', '113514', '3336', '370129', '2650', '17585', '110152', '17755', '230433', '384461', '347077', '110413', '112059', '382649', '17248', '3101295', '347083', '17582', '17760', '113798', 'LINE', '250644', '17596', '370375', '13502', '347073', '239853', '382652', '2673', '336439', '347464', '345778', '10482', '113056', '349239', '345774', '349206', '237798', '370373', '19877', '11967', '2163', '349236', '349233', '17612', '2693', '113781', '19988', '17558', '9234', '367226', 'LINE', '226593', '2466', '113781', '17421', '17758', '3381', '17485', '11767', '17608', '250651', '349243', '13529', '347470', '244367', '29011', '36928', '16966', '21172', '349219', '234818', '248738', '2343', '17760', '345364', '28551', '363291', '111361', '367226', '113043', '17582', '345764', '17611', '349225', '113776', '16966', '7598', '113784', '230080', '19950', '248740', '244361', '229236', '248733', '31418', '386525', '37671', '315088', '7267', '113510', '2695', '349237', '2647', '345783', '113505', '237671', '330931', '330980', '347088', '2167', '2691', '3101310', '370365', '7076', '110813', '2626', '14313', '17477', '11765', '3101267', '323951', '17760', '349909', '17604', '7077', '113503', '2648', '347069', '17757', '2653', '3101293', '113789', '349227', '14879', '2144', '27849', '367655', '1748', '113760', '350034', '3101277', '35273', '9549', '350052', '350407', '28403', '244278', '240929', '3101289', '341826', '4137', '3101279', '315096', '28664', '347064', '29106', '312992', '4133', '349222', '394140', '19928', '239853', '3101269', '343095', '28220', '250652', '28228', '345773', '349254', '13032', '315082', '347080', '370129', '34244', '2003', '250655', '364851', '392078', '110564', '376564', '3085', '3101274', '13507', '113760', '6608', '29106', '19950', '18723', '13529', '345769', '347076', '230434', '65306', '33638', '250644', '113794', '2666', '113786', '34651', '65303', '113051', '17453', '2817', '349240', '13509', '17464', '13531', '371060', '19952', '364506', '111320', '234360', '2816', '3101306', '239853', '113792', '36209', '2666', '323592', '315089', '34651', '541', '7553', '110465', '31027', '3460', '350060', '3101298', '2144', '239854', '3594', '4134', '11967', '4133', '19943', '11771', '18509', '37671', '65304', '3101317', '113787', '17609', '45380', '2627', '36947', '6212', '113781', '350035', '315086', '364846', '330909', '4135', '110152', '17758', '26360', '111427', '4001', '1601', '382651', '3101316', '17473', '17603', '349209', '36967', '34260', '371110', '226875', '349242', '12749', '349252', '2624', '111361', '2700', '367232', '14258', '17483', '3101296', '29104', '26360', '2641', '2690', '2668', '315084', '13529', '113050', '17761', '364498', '13568', '5735', '347082', '347082', '2908', '17761', '693', '2908', '2146', '363291', '33112', '17421', '244358', '330979', '2620', '347085', '113807', '11755', '17757', '110413', '345572', '372622', '349251', '218629', '392082', '392087', '48871', '349205', '349909', '2686', '350417', '752', '11769', '17474', '14312', '20589', '358585', '243880', '13507', '2689', '3101286', '237789', '17421', '28403', '13049', '3411', '110413', '237565', '13567', '14973', '3235', '3101273', '36947', '3902', '364848', '29037', '345773', '248727', 'LINE', '2664', '17485', '243847', '349214', '113796', '364511', '111426', '349910', '349246', '113804', '2123', '17582', '347082', '3101305', '367230', '370377', '364512', '220845', '347080', '3336', '230136', '31028', '2659', '11753', '2653', '350029', '54636', '36963', '219533', '13502', '349224', '334912', '27042', '347743', '13214', '112052', '347088', '237668', '3101292', '31921', '3101295', '376564', '350050', '17477', '347088', '1601', '2666', '17572', '349231', '13213', '751', '2314', '349221', '231919', '8475', '330919', '365226', '14879', '349223', '364849', '29751', '35273', '17611', '2623', '5727', '349210', '3101285', '14879', '234686', '312993', '3536', '19996', '29750', '12750', '24580', '244270', '239856', '349912', '342826', '4138', '2144', '17755', '330935', '17572', '6563', '2144', '29750', '2123', '3101295', '349228', '350036', '24160', '17474', '349256', '1601', '2672', '113800', '248731', '363592', '35852', '17421', '348121', '17757', '17475', '2691', '36864', '350025', '250655', '223596', '17476', '113781', '2661', '17482', '113028', '19996', '7545', '250647', '348124', '17757', '34218', '36568', '347062', '248727', '350048', '12233', '250643', '113806', '315094', '31027', '36866', '236853', '3101271', '24160', '2699', '239855', '28425', '233639', '54636', '6608', '17755', '349201', '349218', '16988', '19877', '17608', '376566', '3101288', '5735', '2673', '250648', '113773', '335097', '29103', '392096', '345780', '349204', '220845', '250649', '350042', '29108', '363294', '110152', '358585', '3101272', '2663', '113760', '347074', '13502', '112379', '364850', '371110', '8471', '345781', '350047', '3', '2674', '29105', '347078', '383121', '364516', '36865', '24160', '2687', '17474', '113501', '6607', '3101312', '374887', '3101265', '382652', '2315', '17593', '12460', '239865', '2343', '17600', '349203', '28213', '17465', '349244', '2685', '345773', '250647', '31921', '113760', '2625', '347089', '347063', '112050', '347087', '248723', '113806', '3474', '48871', '28206', '347082', '364499', '112058', '3101290', '2079', '7075', '347088', '12749', '315098', '19972', '392096', '3101295', '368323', '1601', '2079', '367228', '113572', '2659', '29106', '2671', '347468', '2223', '17756', '315097', '392092', '1601', '11774', '3101287', '3', '113798', '2683', '315090', '5547', '2343', '349213', '248727', '17453', '347082', '347060', '2678', '17592', '244252', '392091', '36928', '113055', '2666', '2629', '350026', '28134', '17466', '2343', '233866', '236852', '2149', '17590', '345777', '347742', '349248', '11751', '695', '345765', '3381', '2667', '7534', '349212', '349217', '11767', '230433', '349257', '7552', '34068', '392076', '382652', '211536', '112053', '6607', '111369', '370376']