In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv(r'C:\Users\Meireles\Desktop\rodrigo\train.csv')

In [4]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# Encoding das variáveis nominais

Encoding do embarque, somente duas entradas nulas de passageiras que embarcaram juntas, arbitrariamente codificadas como 1 (S)

In [5]:
embark_dict = {'S': 1, 'C':2, 'Q':3}
embark_dict[np.NaN] = 1

data['embarked_encoded'] = data['Embarked'].map(embark_dict)

Separando as cabines pela primeira letra, valores nulos ficaram como n.

In [6]:
data['cabin_red'] = data.Cabin.str[0]

Aqui cria-se uma coluna marcando quando a cabine não possui registro. (Ideia duvidosa mas tá aqui)

In [7]:
data['cabin_null'] = np.where(data['Cabin'].isnull(), 1, 0)

Encoding do sexo dos tripulantes.

In [8]:
sex_dict = {'male': 0, 'female': 1} 
data['sex_encoded'] = data['Sex'].map(sex_dict)

Separação dos tickets em prefixo e números. Padronização dos prefixos dos tickets para eliminar duplicatas com nomes similares.

In [18]:
Pre_Ticket = []
Post_Ticket = []
for k in data['Ticket']:
    prepost = k.rsplit(' ', 1)
    if len(prepost)>1:
        Pre_Ticket.append(prepost[0])
        Post_Ticket.append(prepost[1])
    else:
        Pre_Ticket.append(np.nan)
        Post_Ticket.append(prepost[0])
data = data.assign(pre_ticket = Pre_Ticket)
data = data.assign(post_ticket = Post_Ticket)
data.pre_ticket = data.pre_ticket.str.replace('.', '', regex = False)
data.pre_ticket = data.pre_ticket.str.replace('/', '', regex = False)
data.pre_ticket = data.pre_ticket.str.replace(' ', '', regex = False)

Encoding do pre_ticket.

In [58]:
pre_ticket_dict = {k: i for i, k in enumerate(data.pre_ticket.unique(), 0)}
data['pre_ticket_encoded'] = data.pre_ticket.map(pre_ticket_dict)

In [62]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,embarked_encoded,cabin_red,cabin_null,sex_encoded,pre_ticket,post_ticket,pre_ticket_encoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,NaN,1,0,A5,21171,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,C,0,1,PC,17599,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,NaN,1,1,STONO2,3101282,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,C,0,1,NaN,113803,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,NaN,1,0,NaN,373450,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1,NaN,1,0,NaN,211536,3
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,B,0,1,NaN,112053,3
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,NaN,1,1,WC,6607,11
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,2,C,0,0,NaN,111369,3
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,3,NaN,1,0,NaN,370376,3